.menu {
  display: block;
  min-width: 200px;
}

.menu>li {
  list-style: none;
  line-height: 2;
  padding: 20px 40px;
  background: $color-gray-20;
  border-left: 3px solid transparent;
  &:hover {
    background: $color-gray-25;
    border-left: 3px solid $color-red;
  }
  &.active {
    background: $color-gray-25;
    border-left: 3px solid $color-red;
  }
}

.sidebar {
  margin-top: 30px;
}